@page {
  /* Page Sizes */
  size: A4 portrait;
  font-family: Arial, Helvetica, sans-serif;
  /* Page Layout */
  padding-top: 30mm;
  margin-left: 15mm;
  padding-bottom: 5mm;
  margin-right: 0;
}

html {
  height: 100%;
}

body {
  max-width: 100%;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  display: flex;
  flex-direction: column;
}

.right-text-container {
  text-align: right;
}

.top-row-spacer {
  margin-top: 20px;
}

.top-row-spacer-double {
  margin-top: 40px;
}

.bottom-row-spacer {
  margin-bottom: 20px;
}

.bottom-row-spacer-double {
  margin-bottom: 40px;
}

#title-container {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

#company-info-container {
  display: inline-block;
}

#company-contact-info-container {
  float: right;
  text-align: right;

}

.min-font-size {
  font-size: 7pt;
}

.company-info-text {
  font-size: 8pt;
}

.company-contact-text {
  color: crimson;
}

.text-with-indent {
  text-indent: 25;
  text-align: justify;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

#footer {
  margin-top: auto;
  margin-right: 13mm;
}

#bottom-spacer {
  margin-top: 20px;
}

#leftHeaderContainer {
  display: inline-block;
}

#rightHeaderContainer {
  float: right;
}

#content-container {
  margin-right: 13mm;
}

#sender-position-container {
  float: left
}

#stamp-container {
  position: relative;
}

#sender-name-container {
  float: right
}

#stamp-image {
  position: absolute;
  margin-top: 25px;
  margin-left: 350px;
}

#signature-image {
  position: absolute;
  margin-top: 15px;
  margin-left: 225px;
  transform: scale(.4);
}

#executor-container {
  clear: both
}

.forbid-page-break {
  page-break-inside: avoid;
}

table {
  border-collapse: collapse;
  width: 90%;
  font-size: 7pt;
  border: solid 1px;
  margin-left: auto;
  margin-right: auto;
}

th {
  border: solid 1px;
  background-color: lightgrey;
  padding: 10px;
}

tr {
  border: solid 1px;
  page-break-inside: avoid;
}

td {
  border: solid 1px;
  text-align: left;
  padding: 5px;
}