<html>

<head></head>

<body>
    <div>
        <p>Поступила задача на группу в AdInsure, см. подробности в витрине задач.</p>
        <!--<p>Группа: "{{content.userGroupName}}".</p>-->
        <p>Заявка: <a href={{content.contractUri}}>{{content.contractNumber}}</a>.</p>
        <p>Партнер: {{content.partnerShortDescription}}.</p>
        <p>Страхователь: {{content.policyHolderFullName}}.</p>
        <p>Наименование программы: {{content.productDescription}}.</p>
        <p>Размер взноса: {{content.riskPremium}}.</p>
        <p>Срок страхования: {{content.insuranceTerms}} лет.</p>
        <p>Валюта: {{content.currencyDesc}}.</p>
    </div>
</body>

</html>