<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="repositoryPath" value=".\packages" />
	</config>
	<packageSources>
		<add key="Adacta" value="https://gitlabru.adacta-fintech.ru/api/v4/projects/2/packages/nuget/index.json" />
		<add key="Official" value="https://nuget.org/api/v2/" />
	</packageSources>
	<packageSourceCredentials>
		<Adacta>
			<add key="Username" value="%ADACTA_GITLABRU_USER%" />
			<add key="ClearTextPassword" value="%ADACTA_GITLABRU_TOKEN%" />
		</Adacta>
	</packageSourceCredentials>
	<solution>
		<add key="disableSourceControlIntegration" value="true" />
	</solution>
	<bindingRedirects>
		<add key="skip" value="True" />
	</bindingRedirects>
</configuration>
