@page {
	/* Page Sizes */
	size: A4 portrait;
	/* Page Layout */
	margin: 0mm 0mm 45mm 0mm;
	padding: 10mm 7mm 0mm 7mm;

	@bottom-center {
		position: absolute;
		bottom: 25px !important;
		content: counter(page);
		width: 8%;
		font-family: Arial, sans-serif;
		font-size: 8pt;
	}
}

.container {
	font-family: Arial, sans-serif;
	font-size: 8pt;
}

table {
	table-layout: fixed;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	border-collapse: collapse;
	border: 1px solid gray;
}

td,
th {
	padding: 5px;
	border: 1px solid gray;
}

.tableNoBorders tr td {
	table-layout: fixed;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	border: none;
}

.tableNoBordersIndent {
	padding: 1px 7px 1px 0px;
	margin: 0px 0px 0px 0px;
}

.logoDiv {
	margin-bottom: 20px;
	top: 0;
	left: 0;
	display: grid;
	grid-auto-flow: row;
	grid-template-areas: "logo headerText";
}

.logo {
	grid-area: logo;
	margin-top: 12px;
	min-width: 250px;
	max-width: 250px;
}

.right {
	grid-area: headerText;
	text-align: right;
}

.col1 {
	width: 60%;
}

.col2 {
	width: 15%;
}

.col3 {
	width: 10%;
}

.col4 {
	width: 15%;
}

.signingCol1 {
	width: 7%;
}

.signingCol2 {
	width: 93%;
}

.textAlignTop {
	vertical-align: top;
}

.textJustify {
	text-align: justify;
}

.fontSizeTen {
	font-size: 10pt;
}

.fontSizeEleven {
	font-size: 11pt;
}

.colorBackGray {
	background-color: #505254;
}

.colorBackGrayLight {
	background-color: #f2f2f2;
}

.fontColorWhite {
	color: white;
}

.noneBorders {
	border: none;
}

.center {
	text-align: center;
}

.fontBold {
	font-weight: bold;
}

.signingLeftIndent {
	padding-left: 30px;
}

.signingRightIndent {
	padding-right: 15px;
}

.invTableHeader {
	padding: 5px 0px 5px 0px;
	text-align: center;
	vertical-align: top;
	font-weight: bold;
}

.invTableSubHeader {
	text-align: center;
	vertical-align: center;
	font-weight: bold;
}

.invTableTitleActive {
	text-align: left !important;
	padding-left: 8px;
	font-weight: bold;
}

.invTableTitle {
	text-align: left;
	padding-left: 20px;
	font-weight: bold;
}

.invTableText {
	text-align: left;
	padding-left: 35px;
}

.invTableTitleHideRightBorder {
	border-right: 0;
}

.invTableActives {
	page-break-inside: avoid;
	border-collapse: collapse;
	border: 1px solid gray;
	margin: 10px 0px 10px 0px;
}

.invTableActives .col1 {
	width: 55%;
}

.invTableActives .col2 {
	width: 20%;
}

.invTableActives .col3 {
	width: 10%;
}

.invTableActives .col4 {
	width: 15%;
}

.invTable {
	page-break-inside: avoid;
	border-collapse: collapse;
	border: 1px solid gray;
	margin: 10px 0px 10px 0px;
}

.invTableEndowmentText {
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
}

.invParagraph {
	font-weight: bold;
	margin: 10px 0px 0px 0px;
}

.invPInd1 {
	padding-right: 30px;
}

.invPInd2 {
	padding-right: 20px;
}

.invPInd3 {
	padding-right: 10px;
}

.invTableNoBorders {
	page-break-inside: auto !important;
	border: none;
}

.invTableNoBorders tr td {
	page-break-inside: auto !important;
}

.invTableNoBorders .col1 {
	width: 5%;
}

.invTableNoBorders .col2 {
	width: 10%;
}

.invTableNoBorders .col3 {
	width: 85%;
}

.invIndent {
	margin-right: 20px;
}

.invTableEndowmentK {
	page-break-inside: avoid;
	border-collapse: collapse;
	border: 1px solid gray;
	margin: 10px 0px 10px 0px;
}

.invTableEndowmentK .col1 {
	width: 80%;
}

.invTableEndowmentK .col2 {
	width: 20%;
}

.signatureTable {
	page-break-inside: avoid;
	margin: 10px 0px 0px 0px;
}

.dateLeftIndent {
	padding-left: 40px;
}