/* При изменении margin or padding проверить функцию нижнего колонтитула getKidBottomRunningTitle */
@page {
	/* Page Sizes */
	size: A4 portrait;
	/* Page Layout */
	margin: 0mm 0mm 10mm 0mm;
	padding: 10mm 7mm 0mm 7mm;
	counter-increment: kidCounter 1;

	@top-center {
		margin-top: 25px !important;
		content: counter(kidCounter);
		width: 8%;
		font-family: Arial, sans-serif;
		font-size: 8pt;
	}
}
