<div>
    <img src="assets/img/applicationBasis.pdf">
    <img src="assets/img/applicationBasisActivePremiumPSB.pdf">
    <img src="assets/img/applicationBasisActivePSB.pdf">
    <img src="assets/img/applicationBasisBFKO.pdf">
    <img src="assets/img/applicationBasisNew.pdf">
    <img src="assets/img/applicationBasisOAS.pdf">
    <img src="assets/img/applicationBasisPSB.pdf">
    <img src="assets/img/applicationBeMillionare.pdf">
    <img src="assets/img/applicationBR.pdf">
    <img src="assets/img/applicationBRPeriodPayment.pdf">
    <img src="assets/img/applicationCouponDID.pdf">
    <img src="assets/img/applicationCouponDIDAnnex.pdf">
    <img src="assets/img/applicationDriverAffluent.pdf">
    <img src="assets/img/applicationDriverMass.pdf">
    <img src="assets/img/applicationIDG2ZENIT.pdf">
    <img src="assets/img/applicationPartialNoteBFKO.pdf">
    <img src="assets/img/applicationStrategyFiveInvestGarant.pdf">
    <img src="assets/img/appllicationStrategyFiveInvestBFKO.pdf">
</div>