@page {
	/* Page Sizes */
	size: A4 portrait;
	/* Page Layout */
	margin: 0mm 0mm 10mm 0mm;
	padding: 10mm 7mm 0mm 7mm;

	@bottom-center {
		position: absolute;
		bottom: 25px !important;
		content: counter(page)"/" counter(pages);
		width: 8%;
		font-family: Arial, sans-serif;
		font-size: 8pt;
	}
}

@page :-ro-nth(n of smallMarginGroup) {
	/* Page Sizes */
	size: A4 portrait;
	/* Page Layout */
	margin: 0mm 0mm 10mm 0mm;
	padding: 10mm 7mm 0mm 7mm;

}

.smallMargin {
	page: smallMarginGroup;
}

.policySignature {
	page: policySignature;
}

.signatureHolder {
	page: signatureHolder;
}

.signatureNone {
	page: signatureNone;
}

body {
	font-family: Arial, sans-serif;
	font-size: 8pt;
}

.break {
	break-before: page;
}

/* Памятка ВСС */
.memory {
	font-family: Arial, sans-serif;
	font-size: 8pt;
	text-align: justify;
}

.headermemo {
	text-align: center;
	font-weight: bold;
	font-size: 8pt;
	line-height: 0;
}

.greymemo {
	background-color: #cac5c5;
	color: black;
}

.mainmemo {
	border: 1px solid black;
	padding: 0mm 2mm 0mm 2mm;
}

.mainmemo p {
	text-align: justify
}

.mainmemo p.boldmemo {
	font-weight: bold;
}

.mainmemo ul li {
	list-style-type: circle;
	list-style-position: outside;
	margin-left: 0px;
	text-align: justify;
}

.mainmemo table td {
	vertical-align: top;
	text-align: justify;
}

/* Договор */

.policy .logoDiv {
	margin-bottom: 20px;
	top: 0;
	left: 0;
}

.policy .logo {
	min-width: 300px;
	max-width: 300px;
}

.policy .qrCodeAndInsurerInfo {
	display: grid;
	grid-template-columns: 150px 1fr;
	grid-template-rows: 1fr;
	gap: 0 0;
	grid-auto-flow: row;
	grid-template-areas: "qrDiv insurerInfoDiv";
}

.policy .qrDiv {
	grid-area: qrDiv;
	padding: 0mm;
	margin-right: 10px;
	margin-left: 7px;
}

.policy .qr_code {
	width: 150x;
	height: 150px;
	-ro-replacedelement: qrcode;
	-ro-qrcode-errorcorrectionlevel: Q;
}

.policy .insurerInfoDiv {
	margin-left: 21px;
	grid-area: insurerInfoDiv;
	line-height: 12px;
	align-self: center;
}

.policy .container2 {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 25% 1fr 25%;
	grid-template-rows: 10px 10px 10px 10px 10px;
	gap: 0px 0px;
	margin-bottom: 26px;
	grid-template-areas: "qrInfoTop . .""qrInfoMiddle . .""qrInfoButton policyheadingTop ."". policyheadingMiddle .""policyheadingButton policyheadingButton policyheadingButton";
}

.policy .qrInfo {
	font-size: 6.5pt;
	color: rgb(127, 127, 127);
	margin-left: 7px;
}

#qrInfoTop {
	grid-area: qrInfoTop;
}

#qrInfoMiddle {
	grid-area: qrInfoMiddle;
}

#qrInfoButton {
	grid-area: qrInfoButton;
}

.policy .policyheading {
	font-weight: bold;
	text-align: center;
	font-weight: 700;
}

#policyheadingTop {
	grid-area: policyheadingTop;
}

#policyheadingMiddle {
	grid-area: policyheadingMiddle;
}

#policyheadingButton {
	grid-area: policyheadingButton;
}

.policy .qrDiv {
	grid-area: qrDiv;
}

.policy table {
	table-layout: fixed;
	width: 100%;
	margin-top: 10pt;
	margin-bottom: 0;
	border-collapse: collapse;
	border: 2px solid black;
	orphans: 2;
}

.policy td,
th {
	padding-left: 5px;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	border: 1px solid black;
}

.policy .policy_item {
	background-color: #3d3a3a;
	color: white;
	text-align: left;
	font-weight: bold;
	font-size: 8pt;
	page-break-after: avoid;
	padding-left: 15px;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
}

.policy .invisible {
	padding: 0;
	border-bottom-color: white;
}

.policy .tgrey {
	background-color: #9e9e9e;
	;
}

.policy .twhite {
	background-color: white;
}

.policy .center {
	text-align: center;
}

.person .col1 {
	width: 30%;
}

.person .col2 {
	width: 20%;
}

.person .col3 {
	width: 10%;
}

.person .col4 {
	width: 10%;
}

.person .col5 {
	width: 4%;
}

.person .col6 {
	width: 14%;
}

.person .col7 {
	width: 12%;
}

.afterTable {
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
	text-align: justify;
}

.risk .col1 {
	width: 44%;
}

.risk .col2 {
	width: 32%;
}

.risks .col3 {
	width: 20%;
}

.risks .col4 {
	width: 16%;
}

.risks .col5 {
	width: 9.5%;
}

.risks .col6 {
	width: 9.5%;
}

.risk .textLeft {
	text-align: left;
}


.premium .col1 {
	width: 40%;
}

.textJustify {
	text-align: justify;
}

.insuranceTerms {
	page-break-inside: avoid;
}

.declaration {
	page-break-inside: avoid;
}

.policy_input {
	height: 12px;
	width: 12px;
}

.declaration_ul {
	width: 100%;
	margin-top: 0;
	margin-left: 0;
	padding-left: 0;
}

.declaration_li {
	margin-top: 0;
	margin-bottom: 0;
	list-style-type: none
}

.declaration_p {
	margin-top: 0;
	margin-bottom: 0;
	text-align: justify;
	white-space: pre-line;
}

.otherCondition {
	padding-top: 5px;
	padding-bottom: 0;
	margin: 0;
	list-style-type: none;
	counter-reset: otherConditions;
}

.otherCondition li:before {
	content: counter(otherConditions) ') ';
	counter-increment: otherConditions;
}

.otherCondition li {
	margin-left: -40px;
	text-align: justify;
}

.footnote {
	text-align: start;
	font-size: 8pt;
	float: footnote;
}

.alignRight {
	text-align: right;
	font-family: Arial, sans-serif;
	font-size: 8pt;
}

.paymentPlan {
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 8pt;
}

.paymentPlanLabel {
	text-align: center;
	border: 1px solid black;
	color: black;
	page-break-after: avoid;
}

.premiumTable {
	text-align: left;
	table-layout: fixed;
	width: 100%;
	margin-top: 0;
	margin-bottom: 0;
	border-collapse: collapse;
	border: 1px solid black;
	orphans: 2;

}

.premiumTable td,
th {
	padding-left: 5px;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	border: 1px solid black;
}

.premiumTable .col1 {
	width: 40%;
}

.center {
	text-align: center;
}

.noMargin {
	margin: 0 0 0 0;
	padding: 2px 2px 2px 2px;
}

.grid1 {
	display: grid;
	grid-template-columns: 50% 25% 25%;
}

.grid3 {
	display: grid;
	grid-template-columns: 50% 25% 25%;
}

.insuranceTerms .col1 {
	width: 28%;
}

.insuranceTerms .col2 {
	width: 9%;
}

.borderCheckActive {
	border: 1px solid blue;
	color: blue;
	word-break: break-all;
	text-align: justify;
	font-size: 7pt;
	padding: 0mm 1mm 0mm 1mm;
	width: 20%;
	margin: 3%;
	position:fixed;
	right: 0;
	bottom: 0;
}