<div>
    <img src="assets/img/applicationBeMillionaire.pdf">
    <img src="assets/img/applicationBeMillionaireAKCEPT.pdf">
    <img src="assets/img/applicationBeMillionaireOAS.pdf">
    <img src="assets/img/applicationBeMillionaireZENIT.pdf">
    <img src="assets/img/applicationEBMPFBFKOandEBMPYBFKO.pdf">
    <img src="assets/img/applicationFinReservBFKO.pdf">
    <img src="assets/img/applicationHealthVector.pdf">
    <img src="assets/img/applicationHealthVector2.pdf">
    <img src="assets/img/applicationpremiumGarantPlus.pdf">
    <img src="assets/img/applicationPremiumReliableChoise.pdf">
    <img src="assets/img/applicationPremiumReliableChoise2.pdf">
    <img src="assets/img/applicationReliableChoise.pdf">
    <img src="assets/img/applicationReliableChoise2.pdf">
    <img src="assets/img/appllicationStrategyFiveGuarantBFKO.pdf">
    <img src="assets/img/capApplicationPrintout.pdf">
    <img src="assets/img/memoInsuredEventCAPC.pdf">
    <img src="assets/img/memoInsuredEventCAPC_ver2.pdf">
    <img src="assets/img/MemoInsuredEventOAS.pdf">
    <img src="assets/img/MemoInsuredEventOAS_ver2.pdf">
    <img src="assets/img/memoInsuredEventWCENOAS_ver2.pdf">
    <img src="assets/img/memoInsuredEventWCENOAS.pdf">
    <img src="assets/img/memoInsuredEventWCEN3OAS.pdf">
    <img src="assets/img/reminderPayment.pdf">
    <img src="assets/img/reminderPaymentWCENOASandCAPC.pdf">
    <img src="assets/img/reminderPaymentWCENOASandCAPCandEBMOAS.pdf">
    <img src="assets/img/applicationStrategyFiveInvestGarant.pdf">
    <img src="assets/img/applicationBeMillionare.pdf">
</div>
