<html>

<head></head>

<body>
    <div>
        <p>Коллеги, добрый день.</p>
        <p>Сегодня был выпущен полис по нерезиденту:</p>
        <p>ДОГОВОР: <a href={{content.contractUri}}>{{content.contractNumber}}</a> от {{content.contractIssueDate}} г.</p>
        <p>Клиент: {{content.policyHolderFullName}}</p>
        <p>Гражданство: {{content.policyHolderCitizenship}}</p>
        <p>Страховой взнос, {{content.currencyDesc}}: {{content.riskPremium}}</p>
        <p>Страховая премия уплачивается единовременно в полном объеме не позднее: {{content.paymentExpirationDate}}</p>
        <p>Срок действия договора страхования: {{content.insuranceTerms}} {{content.textDeclinationByYear}}</p>
    </div>
</body>

</html>