@page {
	/* Page Sizes */
	size: A4 portrait;
	/* Page Layout */
	margin: 0mm 0mm 45mm 0mm;
	padding: 10mm 7mm 0mm 7mm;

	@bottom-center {
		position: absolute;
		bottom: 25px !important;
		content: counter(page)"/"counter(pages);
		width: 8%;
		font-family: Arial, sans-serif;
		font-size: 8pt;
	}
}

.policySignature {
	page: policySignature;
}

.policySignature .alignRight {
	text-align: right;
	font-family: Arial, sans-serif;
	font-size: 8pt;
}

.signatureHolder {
	page: signatureHolder;
}

body {
	font-family: Arial, sans-serif;
	font-size: 8pt;
}

table {
	table-layout: fixed;
	width: 100%;
	margin-bottom: 0px;
	border-collapse: collapse;
	border: 2px solid black;
}

TD, TH {
	padding: 0;
	border: 1px solid black;
}

.tgrey {
	background-color: #9e9e9e;
	;
}

.twhite {
	background-color: white;
}

.center {
	text-align: center;
}

.textBold {
	font-weight: bold;
}

.withBorder {
	border-collapse: collapse;
	border: 2px solid black;
}

.person .col1 {
	width: 25%;
}

.person .col2 {
	width: 20%;
}

.person .col3 {
	width: 10%;
}

.person .col4 {
	width: 5%;
}

.person .col5 {
	width: 4%;
}

.person .col6 {
	width: 14%;
}

.person .col7 {
	width: 12%;
}

.person .col8 {
	width: 10%;
}

.paddingTopBottom6 {
	padding-top: 6pt;
	padding-bottom: 6pt;
}

.risks .col1 {
	width: 40%;
}

.risks .col2 {
	width: 20%;
}

.risks .col3 {
	width: 20%;
}

.risks .col4 {
	width: 10%;
}

.boldtext {
	font-weight: bold;
}

.afterTable {
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
	text-align: justify;
}

.insuranceSumDefinition {
	margin: 7px 0px 0px 0px;
}

.insuranceTerms {
	margin: 7px 0px 7px 0px;
}

.insuranceTerms .col1 {
	width: 45%;
}

.declaration {
	margin: 0px 0px 7px 0px;
}

input {
	height: 12px;
	width: 12px;
}

.policy_item {
	background-color: #3d3a3a;
	color: white;
	border: 1px solid black;
	text-align: left;
	margin-top: 14px;
	font-weight: bold;
	font-size: 8pt;
}

.footnote {
	text-align: start;
	font-size: 8pt;
	float: footnote;
}


.risksWCENOAS .col3 {
	width: 20%;
}

.risksWCENOAS .col4 {
	width: 16%;
}

.risksWCENOAS .col5 {
	width: 9.5%;
}

.risksWCENOAS .col6 {
	width: 9.5%;
}

.risksWCENOAS .textLeft {
	text-align: left;
}

.policy_itemWCENOAS {
	background-color: #3d3a3a;
	color: white;
	text-align: left;
	font-weight: bold;
	font-size: 8pt;
	page-break-after: avoid;
	padding-left: 15px;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
}

.noMargin {
	margin: 0 0 0 0;
	padding: 2px 2px 2px 2px;
}

.grid1 {
	display: grid;
	grid-template-columns: 50% 25% 25%;
}

.surrenderValues .col1 {
	width: 20%;
}

.surrenderValues .col2 {
	width: 20%;
}

.surrenderValues .col3 {
	width: 20%;
}

.surrenderValues .col4 {
	width: 40%;
}