@page {
	/* Page Sizes */
	size: A4 portrait;
	font-family: Arial, Helvetica, sans-serif;
	/* Page Layout */
	padding-top: 30mm;
	margin-left: 15mm;
	padding-bottom: 5mm;
	margin-right: 0;
}

@media print {}

html {
	height: 100%;
}

body {
	max-width: 100%;
	min-height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	display: flex;
	flex-direction: column;
	position: relative;
}

#content-container {
	margin-right: 13mm;
}

#bottom-spacer {
	margin-top: 20px;
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

.text-with-indent {
	text-indent: 25px;
	text-align: justify;
}

.text-with-double-indent {
	text-indent: 25px;
	text-align: center;
}

.inline-container {
	display: inline-block;
}

.block-container {
	display: block;
}

.centered-text {
	text-align: center;
}

.underline-span-footnote {
	margin-bottom: 20px;
	border-bottom: 1px solid black;
}

.underline-span {
	margin-right: 20px;
	border-bottom: 1px solid black;
}

.top-row-spacer {
	margin-top: 20px;
}

.top-row-spacer-double {
	margin-top: 40px;
}

.bottom-row-spacer {
	margin-bottom: 20px;
}

.bottom-row-spacer-double {
	margin-bottom: 40px;
}

.insurer-name-container {
	max-width: 30%;
	text-align: right;
	float: right;
}

.insurer-address-container {
	max-width: 30%;
	text-align: right;
	float: right;
	clear: right;
}

#title-container {
	text-align: center;
	font-weight: bold;
	clear: right;
}

.policy_item {
	background-color: #3d3a3a;
	color: white;
	border: 1px solid black;
	text-align: left;
	font-weight: bold;
	font-size: 10pt;
	page-break-after: avoid;
}

table {
	border: 2px solid black;
	border-collapse: collapse;
	page-break-inside: avoid;
}

th {
	border: 2px solid black;
	border-collapse: collapse;
}

td {
	border: 2px solid black;
	border-collapse: collapse;
}

tr {
	border: 2px solid black;
	border-collapse: collapse;
}

.person .col1 {
	width: 30%;
}

.person .col2 {
	width: 20%;
}

.person .col3 {
	width: 10%;
}

.person .col4 {
	width: 10%;
}

.person .col5 {
	width: 4%;
}

.person .col6 {
	width: 14%;
}

.person .col7 {
	width: 12%;
}

.tgrey {
	background-color: #9e9e9e;
	;
}

.twhite {
	background-color: white;
}

.center {
	text-align: center;
}

.small-text {
	font-size: 8pt;
}

.extra-small-text {
	font-size: 7pt;
}

.afterTable {
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
	text-align: justify;
}

.change-container {
	page-break-inside: avoid;
}

#stamp-container {
	margin-top: 120px;
	margin-bottom: 100px;
	position: relative;
	page-break-inside: avoid;
}

#stamp-info-container {
	position: absolute;
	z-index: 2;
}

#signature-image {
	position: absolute;
	top: -215px;
	left: -110px;
	transform: scale(.4);
	z-index: 1;
}

#footnote {
	vertical-align: super;
	font-size: 4pt;
}

#footnote-text {
	position: absolute;
	bottom: 0;
	margin-right: 13mm;
	;
}