<html>

<head></head>

<body>
    <div>
        <p>Номер верификации: <a href={{content.attachmentUri}}>{{content.attachmentNumber}}</a></p>
        <p>Номер котировки: <a href={{content.contractUri}}>{{content.contractNumber}}</a></p>
        <p>Страхователь: {{content.policyHolderFullName}}</p>
        <p>Застрахованное лицо: {{content.insuredPersonFullName}}</p>
        <p>Комментарий к статусу верификации: {{content.errorComment}}.</p>
        <p>{{{content.errors}}}</p>
    </div>
</body>

</html>