<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- This file will be included in ../NLog.config -->
  <!--  Note: Attributes on the "nlog" element are ignored for this file, the ones of the main config will be used. -->
  <extensions>
    <!--Will be used for importing directly to ES, and application insights-->
    <!--<add assembly="NLog.Targets.ElasticSearch"/>-->
    <!--<add assembly="Microsoft.ApplicationInsights.NLogTarget" />-->
  </extensions>
  <variable name="logRoot" value="/logs" />
  <variable name="maxSize" value="104857600"/>
  <variable name="maxFiles" value="20"/>

  <targets>
    <target name="logfile" xsi:type="File" fileName="${logRoot}/scheduler.log" />
    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>