@page {
	/* Page Sizes */
	size: A4 portrait;
	/* Page Layout */
	margin: 0mm 0mm 0mm 0mm;
	padding: 7mm 7mm 0mm 7mm;
}


.containerAdd {
	font-family: 'Courier New', Courier;
	font-size: 12px;
}

.containerAdd p {
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: justify;
}

.containerAdd .idTitle {
	margin-top: 10pt;
}

table {
	table-layout: fixed;
	width: 100%;
	margin-bottom: 0px;
	border-collapse: collapse;
	border: 2px solid black;
}

TD, TH {
	padding: 0;
	border: 1px solid black;
}

.tgrey {
	background-color: #9e9e9e;
}

.twhite {
	background-color: white;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.textBold {
	font-weight: bold;
}

.withBorder {
	border-collapse: collapse;
	border: 2px solid black;
}

.breakPage {
	break-before: page;
}

.footnote {
	text-align: start;
	font-size: 8pt;
	float: footnote;
}

.notice {
	font-size: 9pt;
}

.notice .textCenter {
	text-align: center;
}

.notice p {
	margin-top: 1pt;
}

.colorSteel {
	font-weight: bold;
	background-color: darkturquoise;
}

.colorBlue {
	color: blue;
	font-style: italic;
}

.personalData tr td {
	break-inside: auto;
	padding-left: 4pt;
	line-height: 8pt;
}


.cursive {
	font-style: italic;
}

.smallCheckbox input {
	transform: scale(0.7);
	margin: 0 0 0 0;
}

.bigBox {
	font-size: 20pt;
}

.textCenter {
	text-align: center;
}

.textCLeft {
	text-align: left;
}

.firstTable {
	width: 30%;
	border: 1px dotted gray;
	border-collapse: collapse;
}

.firstTable TD,
TH {
	padding: 1%;
	border: 1px dotted gray;
	text-align: center;
	font-family:  'Courier New', Courier;
	font-size: 12pt;
}

.TableWidth100 {
	table-layout: fixed;
	width: 100%;
	border: 1px dotted black;
	border-collapse: collapse;
	margin-bottom: 2pt;
}

.TableWidth100 td,
tr {
	padding: 0.1%;
	border: 1px dotted black;
	text-align: center;
	font-family: 'Courier New', Courier;
	height: 6mm;

}

.TableWidth100 .col1 {
	width: 2.5%;
}

.TableWidth100 .col2 {
	width: 2.5%;
}

.TableWidth100 .col3 {
	width: 2.5%;
}

.TableWidth100 .col4 {
	width: 2.5%;
}

.TableWidth100 .col5 {
	width: 2.5%;
}

.TableWidth100 .col6 {
	width: 2.5%;
}

.TableWidth100 .col7 {
	width: 2.5%;
}

.TableWidth100 .col8 {
	width: 2.5%;
}

.TableWidth100 .col9 {
	width: 2.5%;
}

.TableWidth100 .col10 {
	width: 2.5%;
}

.TableWidth100 .col11 {
	width: 2.5%;
}

.TableWidth100 .col12 {
	width: 2.5%;
}

.TableWidth100 .col13 {
	width: 2.5%;
}

.TableWidth100 .col14 {
	width: 2.5%;
}

.TableWidth100 .col15 {
	width: 2.5%;
}

.TableWidth100 .col16 {
	width: 2.5%;
}

.TableWidth100 .col17 {
	width: 2.5%;
}

.TableWidth100 .col18 {
	width: 2.5%;
}

.TableWidth100 .col19 {
	width: 2.5%;
}

.TableWidth100 .col20 {
	width: 2.5%;
}
.TableWidth100 .col21 {
	width: 2.5%;
}

.TableWidth100 .col22 {
	width: 2.5%;
}

.TableWidth100 .col23 {
	width: 2.5%;
}

.TableWidth100 .col24 {
	width: 2.5%;
}

.TableWidth100 .col25 {
	width: 2.5%;
}

.TableWidth100 .col26 {
	width: 2.5%;
}

.TableWidth100 .col27 {
	width: 2.5%;
}

.TableWidth100 .col28 {
	width: 2.5%;
}

.TableWidth100 .col29 {
	width: 2.5%;
}

.TableWidth100 .col30 {
	width: 2.5%;
}
.TableWidth100 .col31 {
	width: 2.5%;
}

.TableWidth100 .col32 {
	width: 2.5%;
}

.TableWidth100 .col33 {
	width: 2.5%;
}

.TableWidth100 .col34 {
	width: 2.5%;
}

.TableWidth100 .col35 {
	width: 2.5%;
}

.TableWidth100 .col36 {
	width: 2.5%;
}

.TableWidth100 .col37 {
	width: 2.5%;
}

.TableWidth100 .col38 {
	width: 2.5%;
}

.TableWidth100 .col39 {
	width: 2.5%;
}

.TableWidth100 .col40 {
	width: 2.5%;
}

.TableFIO {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 3pt;
}

.TableFIO td,
tr {
	padding: 0.1%;
	text-align: center;
	font-family: 'Courier New', Courier;
	font-size: 9pt;
	height: 6mm;
}

.TableFIO .col1 {
	width: 10%;
}

.TableFIO .col2 {
	width: 90%;
}

.TableHalf {
	table-layout: fixed;
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
	border-left: none;
}


.TableHalf .col1 {
	width: 50%;
}

.TableHalf .col2 {
	width: 50%;
}

.borderMain{
	
	border: 1px dotted gray;
	text-align: center;
	font-family: 'Courier New', Courier;
}

.footer {
	margin: 10px 0px 0px 0px;
}

.headerArea {
	display: grid;
	grid-template-columns: 180px 1fr;
	grid-template-rows: 1fr;
	gap: 0 0;                                           
	grid-auto-flow: row;
	grid-template-areas: "leftArea centerArea";
}

.leftArea {
	grid-area: leftArea;
	text-align: left;
	font-size: 11pt;
}

.centerArea {
	grid-area: centerArea;
	line-height: 12px;
	margin-left: -180px;
	align-self: center;
	text-align: center;
	font-size: 11pt;
}

.headerAreaFIO {
	display: grid;
	grid-template-columns: 60px 1fr;
	grid-template-rows: 1fr;
	gap: 0 0;                                           
	grid-auto-flow: row;
	grid-template-areas: "leftArea centerArea";
}

.leftAreaFIO {
	grid-area: leftArea;
	text-align: center;
	font-size: 11pt;
}

.centerAreaFIO {
	grid-area: centerArea;
	margin-left: -60px;
	line-height: 12px;
	align-self: center;
	text-align: center;
	font-size: 11pt;
}

.container {
	font-family: 'Courier New', Courier;
	font-size: 8pt;
}

.firstHeader {
	margin-left: 200px;
}

.break {
	break-before: page;
}

.fontTableBig {
	font-size: 16pt;
}

#signature-image {
	position: absolute;
	top: 20px;
	left: -28px;
	transform: scale(.3);
	z-index: 1;
}

#stamp-image {
	position: absolute;
	top: -175px;
	left: -300px;
	transform: scale(.16);
	z-index: 1;
}

#signature-image2 {
	position: absolute;
	top: -100px;
	left: 100px;
	transform: scale(.3);
	z-index: 1;
}

#stamp-image2 {
	position: absolute;
	top: -290px;
	left: -160px;
	transform: scale(.16);
	z-index: 1;
}

.containerImage {
	position: relative;
}