<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <extensions>

    </extensions>
    <variable name="logRoot" value="C:\AdInsure\Logs" />
    <variable name="maxSize" value="104857600"/>
    <variable name="maxFiles" value="20"/>

    <targets async="true">
        <target xsi:type="File" name="json" maxArchiveFiles="${maxFiles}" archiveAboveSize="${maxSize}" fileName="${var:logRoot}/identityServer4.log">
            <layout type="JsonLayout" includeAllProperties="true">
                <attribute name="time" layout="${longdate}"/>
                <attribute name="level" layout="${level:uppercase=true}"/>
                <attribute name="message" layout="${message}"/>
                <attribute name="eventProperties" encode="false">
                    <layout type='JsonLayout' includeAllProperties="true" maxRecursionLimit="8"/>
                </attribute>
                <attribute name="exception" layout="${onexception:${exception:format=tostring}}"/>
            </layout>
        </target>
        <!--<target xsi:type="ApplicationInsightsTarget" name="app-insights"><contextproperty name="message" layout="${aiLayout}"/></target>-->
    </targets>
    <rules>
        <logger name="*" minLevel="Error" writeTo="json" final="true" />
    </rules>

</nlog>