@page {
	/* Page Sizes */
	size: A4 portrait;
	/* Page Layout */
	margin: 0mm 0mm 20mm 0mm;
	padding: 10mm 7mm 0mm 7mm;

	@bottom-center {
		position: absolute;
		bottom: 25px !important;
		content: counter(page)"/"counter(pages);
		width: 8%;
		font-family: Arial, sans-serif;
		font-size: 8pt;
	}
}

body {
	font-family: Arial , sans-serif;
}

table {
	font-family: Arial , sans-serif;
	width: 100%;
	margin-bottom: 0px;	
	font-size: 8pt;
}

.textIndent {
	text-indent: 12.5mm;
}

.underRows {
	text-align: center;
	font-size: 6pt;
	border: none;
}

.footnote {
	text-align: justify;
	font-size: 8pt;
	float: footnote;
}

.mainTable {
	font-family: Arial , sans-serif;
	border: 1px solid black;
	border-collapse: collapse;
	text-align: justify;
}

.innerTable {
	font-family: Arial , sans-serif;
	border: 1px black;
	text-align: center;
    border-collapse: collapse;
}

.checkBoxSize {
	height: 10px;
	width: 10px;
}

.textAlignCenter {
    text-align: center;
}

.textAlignCenterBig {
	text-align: center;
	font-size: 10pt;
}

.MathCursive {
	font-family: Cambria, Math;
	font-style: italic;
}

.breakBefore{
	page-break-before: always;
}

.onlyBottomBorder {
	border-top: none;
	border-left: none;
	border-right: none;
}

.leftPadding {
    padding-left: 0.75cm;
}

.noneBorders {
	border: none;
}

.noneTopBorder {
	border-top: none;
}

.noneBottomBorder {
	border-bottom: none;
}

.birthSurnameItemRow {
	width: 66%;
}

.trippleItemRow {
	width: 33%;
}

li {
	float: left;
	display: block;
}

tr, td, th {
    border: 1px solid black; /* Рамка вокруг ячеек */
}

td {
	padding: 5px;
}

ul, ol {
  padding: 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.shortCell {
	width: 5%;
}

.mediumCell {
	width: 22%;
}

.rgslInfo {
	text-align: right;
	width: auto;
	font-size: 8pt;
}

.textBetweenTable {
	font-size: 8pt;
	text-align: justify;
}
  
.deepGrayBackground {
	background-color: #626262;
}

.grayBackground {
	background-color: #e9e9e9;
}

.whiteBackground {
	background-color: white;
}

.whiteText {
	color: white;
}

.width80 {
	width: 80%;
}

.width70 {
	width: 70%;
}

.width66 {
	width: 66%;
}

.width50 {
	width: 50%;
}

.width40 {
	width: 40%;
}

.width33 {
	width: 33%;
}

.width30 {
	width: 30%;
}

.width25 {
	width: 25%;
}

.width20 {
	width: 20%;
}

.width15 {
	width: 15%;
}