@page {
	/* Page Sizes */
	size: A4 portrait;
	/* Page Layout */
	margin: 0mm 0mm 0mm 0mm;
	padding: 7mm 7mm 7mm 7mm;
}

.container {
	font-family: Arial, sans-serif;
	font-size: 8pt;
}

.logoDiv {
	margin-bottom: 20px;
	top: 0;
	left: 0;
	display: grid;
	grid-auto-flow: row;
	grid-template-areas: "logo headerText";
}

.logo {
	grid-area: logo;
	margin-top: 12px;
	min-width: 250px;
	max-width: 250px;
}

.right {
	grid-area: headerText;
	text-align: right;
}

table {
	table-layout: fixed;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	border-collapse: collapse;
	border: 2px solid black;
}

td,
th {
	padding: 5px;
	border: 1px solid black;
}

.bigestText{
	font-size: 12pt;
	background-color: slategrey;
	color: white;
}

.bigtext {
	font-size: 8pt;
	background-color: slategrey;
	color: white;
}

.greyback {
	background-color: #9e9e9e;
}

.underLine {
	text-decoration: underline;
}

td p {
	margin: 8pt 0 8pt 0;
}

.checkbox4 {
	display: grid;
	grid-template-columns: 60% 20% 20%;
}