<html>

<head>
    <link rel="stylesheet" href="styles/style.css" />
</head>

<body>
    <div>
        <p>Добрый день!</p>
        <p>Направляем Вам данные для доступа к фронт-офисной системе СК "Росгосстрах Жизнь":</p>
        <p>Логин: {{content.userLogin}}</p>
        <p>Пароль: {{content.userPassword}}</p>
        <p>Адрес для входа в систему: <a href="https://adinsure.rgsl.ru">https://adinsure.rgsl.ru</a></p>
        <p>Рекомендуем сменить пароль после после первого входа в систему.</p>
        <br>
        <p>Успешных продаж!</p>
        <p>Команда СК "Росгосстрах Жизнь"</p>
    </div>
</body>

</html>