.adinsureBgColor {
    background-color: #0095D9;
}

#kc-locale {
    display: none;
}

#kc-page-title {
    text-align: center;
}

.hidden {
    display: none;
}

header {
    display: none !important;
}

.body-container.container {
    display: flex;
    align-items: center;
    height: 100vh;
}

.login-page {
    width: 100%;
    max-height: 100%;
}
.login-wrap {
    width: 500px;
    margin: auto;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, .31);
    background-color: #dce3e7;
}

.login-wrap form {
    padding: 1px 16px 24px;
    border-radius: 5px;
    background-color: #fff;
}

.login-wrap img {
    display: block;
    width: auto;
    height: 48px;
    margin: 40px auto;
}

.form-group {
    margin-bottom: 25px !important;
}

.form-group.mb-0 {
    margin-bottom: 0 !important;
}
.form-group.mb-0 a:active, .form-group.mb-0 a.active {
    box-shadow: none !important;
}

.form-group.mb-0 a, .reset-password-form .buttons-form button.button-form {
    display: block !important;
    width: 300px !important;
    margin: 0 auto 25px !important;
    border: 1px solid #0095D9 !important;
    background-color: #fff !important;
    color: #0095D9 !important;
}

.form-group.mb-0 a:hover, .reset-password-form .buttons-form button.button-form:hover {
    border: 1px solid #0069d9 !important;
    background-color: #fff !important;
    color: #0069d9 !important;
}
.form-group.mb-0>div>div:first-child a {
    margin-top: 25px !important;
}
.form-group.mb-0>div>div:last-child a {
    margin-bottom: 20px !important;
}

.form-group.checkbox-form {
    width: 300px;
    margin: auto;
}

.form-control, .paragraph {
    width: 300px !important;
    height: 40px !important;
    margin: 0 auto;
}

.form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: none;
}

input.form-control:-internal-autofill-selected {
    box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 20px;
}

.form-check-input {
    position: absolute;
    margin-top: 0.3rem !important;
    margin-left: -20px !important;
    box-sizing: border-box;
    padding: 0;
}

.form-check-input+label {
    display: inline-block;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 200;
}

.btn-primary {
    background-color: #0095D9 !important;
    border-color: #0088cc !important;
}

.btn-primary:hover {
    background-color: #0069d9 !important;
    border-color: #0062cc !important;
}

.float-right {
    float: right;
}

a:focus {
    outline: none !important;
}

.position-relative {
    position: relative;
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.m-0 {
    margin: 0;
}

.flex-wrap-wrap{
    flex-wrap: wrap;
}

.d-block {
    display: block;
} 

.text-center {
    text-align: center;
}

.reset-password {
    position: absolute;
    bottom:-15px;
    left: calc((100% - 300px) / 2);
    width: 300px;
    font-size: 12px;
}

.password-update {
    text-align-last: center;
}

.sign-out-from-other-devices {
    display: flex;
    justify-content: center;
}

.alert {
    margin-bottom: 0 !important;
}

.buttons-form {
    margin-bottom: 15px;
}
.border-top {
    border-top: 1px solid rgba(0, 0, 0, .125);
}

.reset-password-form .buttons-form {
    margin-bottom: 20px !important;
}

.buttons-form .button-form {
    display: block;
    width: 300px;
    padding: 5px;
    margin: 0 auto 25px !important;
    text-transform: uppercase;
    font-weight: 600;
 }

.button-form {
    margin-bottom: 15px !important;
    color: #fff;
}

.button-form:hover, .button-form:focus {
    color: #fff !important;
    background-color: #0069d9 !important;
    outline-offset: 0 !important;
    outline: none !important;
}

.button-form i {
    margin-right: 5px;
}

.authenticator {
    padding-inline-start: 10px;
    margin-bottom: 25px;
}

.authenticator ul {
    padding-inline-start: 10px;
}

.login-wrap img.qr-code{
    margin: auto;
    height: 100px;
}

.error-message {
    height: 0;
    color: #ff0000;
}

.button-password {
    width: 30px;
    margin-left: -30px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.h-25 {
    height: 25px;
}

.t-25 {
    top: -25px;
}

.b-25 {
    bottom: -25px;
}