@page {
	/* Page Sizes */
	size: A4 portrait;
	/* Page Layout */
	margin: 0mm 0mm 0mm 0mm;
	padding: 10mm 7mm 10mm 7mm;

	@bottom-center {
		position: absolute;
		bottom: 25px !important;
		content: counter(page)"/"counter(pages);
		width: 8%;
		font-family: Arial, sans-serif;
		font-size: 8pt;
	}
}

@page :-ro-nth(n of noticeBFKOGroup) {
	/* Page Sizes */
	size: A4 portrait;
	/* Page Layout */
	margin: 0mm 0mm 20mm 0mm;
	padding: 10mm 7mm 0mm 7mm;
}

@page :-ro-nth(n of zenitMarginGroup) {
	/* Page Sizes */
	size: A4 portrait;
	/* Page Layout */
	margin: 0mm 0mm 20mm 0mm;
	padding: 10mm 7mm 0mm 7mm;

}

.logoDiv {
	margin-bottom: 20px;
	top: 0;
	left: 0;
}

.logo {
	min-width: 300px;
	max-width: 300px;
}

.zenitMargin {
	page: zenitMarginGroup;
}

.zenitNotice {
	font-size: 11pt;
	font-family: Arial, Helvetica, sans-serif;
}

.backgroundMarine {
	font-size: 5.0pt;
	font-family: Arial;
	color: white;
	background-color: #546670;
}

.zenitNotice .logo {
	min-width: 164px;
	max-width: 164px;
}

.zenitNotice .textRight {
	text-align: right;
}

.containerNewDoc {
	font-family: "Times New Roman", serif;
	font-size: 16px;
	text-align: center;
}
.line {
	display: inline-block;
	border-bottom: 1px solid black;
	width: 95%;
	vertical-align: middle;
}

.zenitNotice .textJustifyNewDoc {
	text-align: justify;
	margin-top: 0;
}

/* New Css start*/
.memory {
	font-family: Arial, sans-serif;
	font-size: 8pt;
}


.zenitNotice .textJustifyNewDoc {
	text-align: justify;
	margin-top: 0;
}
.zenithTable {
	text-align: justify;
}

.zenithTable td {
	padding: 7pt;
	vertical-align: top;
}

.zenithTable td .textCenter {
	text-align: center;
}

.zenithTable .col1 {
	width: 7%;
}

.zenithTable .col2 {
	width: 20%;
}

.zenithTable .col3 {
	width: 53%;
}

.containerAdd {
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.containerAdd p {
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: justify;
}

.containerAdd .idTitle {
	margin-top: 10pt;
}

table {
	table-layout: fixed;
	width: 100%;
	margin-bottom: 0px;
	border-collapse: collapse;
	border: 2px solid black;
}

TD, TH {
	padding: 0;
	border: 1px solid black;
}

.tgrey {
	background-color: #9e9e9e;
	;
}

.twhite {
	background-color: white;
}

.center {
	text-align: center;
}

.textBold {
	font-weight: bold;
}

.withBorder {
	border-collapse: collapse;
	border: 2px solid black;
}

.breakPage {
	break-before: page;
}

.footnote {
	text-align: start;
	font-size: 8pt;
	float: footnote;
}

.notice {
	font-size: 12pt;
}

.notice .textCenter {
	text-align: center;
	margin-bottom: 30pt;
}

.notice p {
	margin-top: 15pt;
}

.notice ol li {
	list-style-type: decimal;
	padding-left: 40pt;
	margin-top: 15pt;
	margin-bottom: 15pt;
}

.notice .smallText {
	font-size: 8pt;
	margin-top: 0pt;
	margin-left: 50pt;
}

.notice .smallText2 {
	font-size: 8pt;
	margin-top: 0pt;
}

.personalData {
	font-size: 8pt;
}

.colorSteel {
	font-weight: bold;
	background-color: darkturquoise;
}

.colorBlue {
	color: blue;
	font-style: italic;
}

.personalData tr td {
	break-inside: auto;
	padding-left: 4pt;
	line-height: 8pt;
}

.personalData tr td p {
	margin: 0 0 0 0;
}

.cursive {
	font-style: italic;
}

.smallCheckbox input {
	transform: scale(0.7);
	margin: 0 0 0 0;
}

.bigBox {
	font-size: 20pt;
}

.spanLeft {
	margin-left: 12pt;
}

.spanRight {
	margin-left: 20%;
}

.personalData .col1 {
	width: 5%;
}

.personalData .col2 {
	width: 2%;
}

.personalData .col3 {
	width: 8%;
}

.personalData .col4 {
	width: 3%;
}

.personalData .col5 {
	width: 3%;
}

.personalData .col6 {
	width: 1%;
}

.personalData .col7 {
	width: 8%;
}

.personalData .col8 {
	width: 3%;
}

.personalData .col9 {
	width: 3%;
}

.personalData .col10 {
	width: 0.5%;
}

.personalData .col11 {
	width: 3%;
}

.personalData .col12 {
	width: 3%;
}

.personalData .col13 {
	width: 6%;
}

.personalData .col14 {
	width: 1%;
}

.personalData .col15 {
	width: 3%;
}

.personalData .col16 {
	width: 5%;
}

.personalData .col17 {
	width: 0.5%;
}

.personalData .col18 {
	width: 8%;
}

.personalData .col19 {
	width: 1%;
}

.personalData .col20 {
	width: 2%;
}

.personalData .col21 {
	width: 1%;
}

.personalData .col22 {
	width: 9%;
}

.personalData .col23 {
	width: 0.5%;
}

.personalData .col24 {
	width: 1%;
}

.noticeBFKO {
	page: noticeBFKOGroup;
}

.noticeBFKO {
	font-family: Arial, sans-serif;
	font-size: 11pt;
}

.noticeBFKO p {
	margin: 0 0 0 0;
	text-align: justify;
}

.noticeBFKO .right {
	text-align: right;
}

.noticeBFKO .smallText {
	font-size: 8pt;
}

.noticeBFKO .marginTop {
	margin-top: 12pt;
}

.noticeBFKO .textCenter {
	text-align: center;
}

.noticeBFKO ol li {
	list-style-type: decimal;
	text-align: justify;
}

.noticeBFKO .mainText {
	margin-top: 12pt;
}

.noticeBFKO table {
	border: 0;
	border-collapse: separate;
	border-spacing: 12pt 12pt
}

.noticeBFKO table TD, TH {
	border: 0;
	vertical-align: top;
	text-align: justify;
}

.noticeBFKO table .col1 {
	width: 20pt;
	margin-left: 8pt;
}

.noticeBFKO .circle {
	list-style-type: circle;
	margin-left: 30pt;
	text-align: justify;
}

.noticeBFKO p .spanLeft {
	text-align: left
}

.noticeBFKO p .spanRight {
	float: right;
}


.noticeBFKOBasisInvest {
	font-family: Arial, sans-serif;
	font-size: 11pt;
}

.noticeBFKOBasisInvest p {
	margin: 0 0 0 0;
	text-align: justify;
}

.noticeBFKOBasisInvest .right {
	text-align: right;
}

.noticeBFKOBasisInvest .smallText {
	font-size: 8pt;
}

.noticeBFKOBasisInvest .marginTop {
	margin-top: 12pt;
}

.noticeBFKOBasisInvest .textCenter {
	text-align: center;
}

.noticeBFKOBasisInvest ol {
	margin-top: 4pt;
	margin-bottom: 4pt;
}

.noticeBFKOBasisInvest ol li {
	margin-top: 0;
	list-style-type: circle;
	text-align: justify;
}

.noticeBFKOBasisInvest .mainText {
	margin-top: 4pt;
	margin-bottom: 4pt;
}

.noticeBFKOBasisInvest table {
	table-layout: fixed;
	width: 100%;
	margin-bottom: 0px;
	border-collapse: collapse;
	border: 2px solid black;
}

.noticeBFKOBasisInvest table TD, TH {
	padding: 2pt;
	border: 1px solid black;
	vertical-align: top;
	text-align: justify;
}

.noticeBFKOBasisInvest table .col1 {
	width: 80%;
}

.noticeBFKOBasisInvest .underline {
	text-decoration: underline;
}

.textCenter {
	text-align: center;
}

.VTBNotice {
	font-size: 11pt;
	font-family: Arial, Helvetica, sans-serif;
}

.VTBNotice .subsribe {
	display: grid;
	grid-template-columns: 20% 60% 20%;
	text-align: center;
}

.VTBNotice .subsribe .smallText {
	font-size: 10pt;
	font-style: italic;
}

.VTBNotice .subsribeTab {
	margin-right: 20px;
}

.VTBNotice .textCenter {
	text-align: center;
}

.VTBTable {
	text-align: justify;
}

.VTBTable td {
	padding: 7pt;
	vertical-align: top;
}

.VTBTable td .textCenter {
	text-align: center;
}

.VTBTable .col1 {
	width: 6%;
}

.VTBTable .col2 {
	width: 20%;
}

.VTBTable .col3 {
	width: 54%;
}

.textJustify {
	text-align: justify;
}

.borderCheck {
	border: 1px solid black;
	word-break: break-all;
	text-align: left;
	font-size: 9pt;
	width: 90%;
	margin: 3%;
	height: 30pt;
}

.boldText {
	font-weight: bold;
}