@page {
  /* Page Sizes */
  size: A4 portrait;
  font-family: Arial, Helvetica, sans-serif;
  /* Page Layout */
  margin: 20mm 15mm 20mm 20mm;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  background-color: white;
  padding: 1mm;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  border: 1px solid gray;
}

td {
  text-align: left;
  vertical-align: top;
  border: 1px solid gray;
  padding: 1mm;
}

.table_invisible {
  border: 0px;
}

.main_title {
  font-size: 12pt;
  margin-top: 0mm;
  margin-bottom: 0mm;
  text-align: center;
  font-weight: bold;
}

.main_title_last_line {
  font-size: 12pt;
  margin-top: 0mm;
  margin-bottom: 5mm;
  text-align: center;
  font-weight: bold;
}

.text_wo_margin_center {
  font-size: 8pt;
  margin: 0mm;
  text-align: center;
}

.check_boxes {
  font-size: 9pt;
  margin: 0mm;
  text-align: left;
}

.text_wo_bottom_margin_left {
  margin-bottom: 0mm;
  text-align: left;
}

.text_wo_top_margin_left {
  margin-top: 0mm;
  text-align: left;
}

.text_justify {
  text-align: justify;
}

.td_header {
  background-color: grey;
  text-align: center;
  color: white;
}

.td_width_10 {
  width: 10%;
}

.td_width_30 {
  width: 30%;
}

.td_width_70 {
  width: 70%;
}

.td_width_90 {
  width: 90%;
}

.td_width_25_left {
  border: 0px;
  text-align: left;
  width: 25%;
  padding: 0mm;
}

.td_width_25_center {
  font-size: 8pt;
  border: 0px;
  text-align: center;
  width: 25%;
  padding: 0mm;
}

.page_break {
  page-break-before: always;
}