<html>

<head></head>

<body>
    <div>
        <table>
            <tr>
                <td>
                    <i>
                        <strong>
                            Договор
                        </strong>
                    </i>
                </td>
                <td>
                    <strong>
                        {{content.emailBody.contractNumber}}
                    </strong>
                </td>
            </tr>
            <tr>
                <td>
                    <i>
                        Вид страхования
                    </i>
                </td>
                <td>
                    {{content.emailBody.ifrsPortfolio}}
                </td>
            </tr>
            <tr>
                <td>
                    <i>
                        Дата договора
                    </i>
                </td>
                <td>
                    {{content.emailBody.issueDate}}
                </td>
            </tr>
            <tr>
                <td>
                    <i>
                        <strong>
                            Страхователь
                        </strong>
                    </i>
                </td>
                <td>
                    <strong>
                        {{content.emailBody.fullName}}
                    </strong>
                </td>
            </tr>
            <tr>
                <td>
                    <i>
                        Дата рождения
                    </i>
                </td>
                <td>
                    {{content.emailBody.birthday}}
                </td>
            </tr>
            <tr>
                <td>
                    <i>
                        Место рождения
                    </i>
                </td>
                <td>
                    {{content.emailBody.birthPlace}}
                </td>
            </tr>
            <tr>
                <td>
                    <i>
                        Документ, удостоверяющий личность
                    </i>
                </td>
                <td>
                    {{content.emailBody.identityDocument}}
                </td>
            </tr>
            <tr>
                <td>
                    <i>
                        Выдан
                    </i>
                </td>
                <td>
                    {{content.emailBody.identityDocumentGivedOut}}
                </td>
            </tr>
            <tr>
                <td>
                    <i>
                        Дата выдачи
                    </i>
                </td>
                <td>
                    {{content.emailBody.identityDocumentDateOfIssue}}
                </td>
            </tr>
            <tr>
                <td>
                    <i>
                        Код подразделения
                    </i>
                </td>
                <td>
                    {{content.emailBody.identityDocumentGivedOutCode}}
                </td>
            </tr>
            <tr>
                <td>
                    <i>
                        Адрес регистрации
                    </i>
                </td>
                <td>
                    {{content.emailBody.registrationAddress}}
                </td>
            </tr>
            <tr>
                <td>
                    <i>
                        <strong>
                            Сведения о платеже (вид, размер, валюта платежа)
                        </strong>
                    </i>
                </td>
                <td>
                    {{content.emailBody.allocationInfo}}
                </td>
            </tr>
            <tr>
                <td>
                    <i>
                        Общая сумма, включая данный платеж составляет
                    </i>
                </td>
                <td>
                    {{content.emailBody.allContractAllocationsSum}}
                </td>
            </tr>
            <tr>
                <td>
                    <i>
                        Дата поступления на р/с компании
                    </i>
                </td>
                <td>
                    {{content.emailBody.transactionDate}}
                </td>
            </tr>
            <tr>
                <td>
                    <i>
                        Сведения о плательщике (получателе платежа)
                    </i>
                </td>
                <td>
                    <strong>
                        {{content.emailBody.payerName}}
                    </strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        Приложение:
                    </strong>
                </td>
                <td>
                    Документ, удостоверяющий личность;<br />
                    подписанный договор страхования.
                </td>
            </tr>
        </table>
    </div>
</body>
</html>